[2018-07-21 13:50] P3trur0 opened #1 "Translate country names in English"
In **README** of this repository the available country names are written in spanish.
It could be better to have them in English.

[2018-07-23 06:55] P3trur0 commented on #1
Fixed.

[2018-07-23 06:55] #1 closed

[2018-11-20 19:35] hdpinto opened #4 "ISO 3166 alpha-3 support"
Any plans to include ISO 3166 alpha-3 support? Is this something that you'd accept a PR for?

[2018-11-21 07:48] P3trur0 commented on #4
Hi @hdpinto, sure, it'd be beneficial for the component, so please go ahead with it if you will :smile:

[2019-02-04 16:13] P3trur0 commented on #4
As suggested, the component now offers also alpha-3 support.
See PR #5

[2019-02-04 16:13] #4 closed

[2019-02-13 15:23] italomandara opened #6 "The module doesn't get transpiled by Babel"
Using: Webpack, vue-loader, Babel

[2019-02-13 15:49] #6 closed

[2019-04-15 11:48] hudy1 opened #7 "Flags have incorrect size on IE & Edge browser"
Hi,

there is something wrong with displaying flags on IE/Edge. They don't have inline style for transform scale, so provided size doesn't apply. On Chrome, Firefox & Opera problem doesn't exist.

Only workaround I found to set inline style manually.

[2019-04-15 12:15] P3trur0 commented on #7
Hi @hudy1, thanks for pointing that out! I'll give it a look tonight 😺

[2019-04-15 21:23] #7 closed

[2019-04-15 21:30] P3trur0 commented on #7
@hudy1 the problem is fixed with **v1.1.1**. Please give it a try!

[2019-04-16 06:58] hudy1 commented on #7
It works, thanks :)

[2019-06-13 11:35] tchret opened #10 "nuxt: Unexpected token <"
![image](https://user-images.githubusercontent.com/4539476/59429435-7ec0bb80-8de8-11e9-9330-04530c8c4ff6.png)

[2019-06-13 13:50] P3trur0 commented on #10
Hi @tchret, could you detail the error a little more, please?

[2019-06-21 14:38] cfjedimaster opened #11 "Failure to render in CodeSandbox"
Let me be clear that I think this is 100% *not* your fault, but on the off chance it *is* a bug on this side, or something that can be adjusted, I thought I'd file it. I know it isn't your job to support an online editor, but again I figured it couldn't hurt to mention it. :)

So long story short, the component doesn't work in Code Sandbox. You can see my code here:

https://codesandbox.io/s/vue-t

[2019-06-23 08:40] P3trur0 commented on #11
Hi @cfjedimaster and thanks for pointing that out! I'll take a look as soon as I can to check if the issue you're mentioning is on the component side. 😸

[2019-06-23 09:06] opichon commented on #10
[vue-router] Failed to resolve async component default: SyntaxError: Unexpected token <
[vue-router] uncaught error during route navigation:
/Users/olivier/projects/dzango.com/www/node_modules/vue-country-flag/CountryFlag.vue:1
<template>
^

SyntaxError: Unexpected token <
    at Module._compile (internal/modules/cjs/loader.js:721:23)
    at Object.Module._extensions..js (internal/modules/cjs/load

[2019-06-23 21:21] P3trur0 commented on #10
@opichon thanks for the log, I'll give it a look.
Just to confirm my understanding here: did you notice the issue while building with Webpack and this component embedded in as dependency?

[2019-06-24 01:17] opichon commented on #10
The component was embedded inside another Vue component
[code]
(approximately only, since I've now removed the component).
The app is built with Webpack.

[2019-06-24 15:06] P3trur0 commented on #11
Hi @cfjedimaster, I spent some time checking the issue. It seems that **codesandbox** does not import the `flags.png`  (that's the image containing all the flags) properly (see [https://tn6p7.codesandbox.io/flags.png](https://tn6p7.codesandbox.io/flags.png)).

Maybe, as alternative, I might embed `flags.png` directly as a Base64 encoded string in the CSS file of the component.

What do you think?

[2019-06-24 15:09] cfjedimaster commented on #11
Honestly I don't know. My first instinct is - as I said above - is to focus on what is best for *your* component, and not worry about tools like CodeSandbox, but if this change would provide *other* benefits, then sure. The only possible benefit I can think of is one less network request, right? Technically it would be "kinda" better?

[2019-06-24 15:28] P3trur0 commented on #11
@cfjedimaster yes, altough the size of the component could slightly increase. However I'll give it a try, thank you for pointing the issue 😄

[2019-06-25 21:24] P3trur0 commented on #11
@cfjedimaster  I've just updated the component, embedding the CSS background as Base64 encoded.

Now it renders also on Codesandbox (see [https://codesandbox.io/s/tygv4](https://codesandbox.io/s/tygv4)).

Also, I took the chance to compress the size of the background image.

From **1.2.2** version the size of vue-country-flag is decreased (50% less!).

Wrapping up, thank you for pointing this issu

[2019-06-25 21:24] #11 closed

[2019-06-25 21:27] cfjedimaster commented on #11
Cool. FYI I blogged about your component here: https://www.raymondcamden.com/2019/06/21/vue-components-ftw-vue-country-flag

[2019-06-25 22:01] P3trur0 commented on #10
@opichon I am trying to reproduce your problem, but at the moment, even using Webpack, in my samples the component renders properly.

Do you have any environment with your Webpack configuration setup? That would be helpful to further investigate the problem.

Thank you!

[2019-06-25 22:31] opichon commented on #10
Here is the package.json file
[code]

[2019-06-26 06:41] P3trur0 commented on #11
@cfjedimaster Cool, thanks for mentioning this component in your blog 🤓

[2019-06-26 06:56] P3trur0 commented on #10
@opichon thank you, may I read also your webpack config? Thank you 😄

[2019-06-26 23:08] P3trur0 commented on #10
@tchret @opichon an updated version of the component is available on NPM. It is a built version of the component as a minified SFC available in three different flavours:

- UNPKG version (see [https://unpkg.com/vue-country-flag@1.2.3](https://unpkg.com/vue-country-flag@1.2.3))
- ES module
- SSR

Please, have a look. This might resolve this issue too.

[2019-08-20 09:41] Chris2011 opened #13 "Type definition file for TypeScript is missing"
When I use TypeScript and import this lib, I got the error inside of VSCode and via serve, that the typedef file is missing. If it is easy for you, please add it. Otherwise, I will have a look later to generate one, when I have time.

[2019-08-20 09:44] P3trur0 commented on #13
Chris, thanks for mentioning that. I'll add the typedef as soon as I find few spare time :relaxed:

[2019-08-20 11:03] Chris2011 commented on #13
Grest, thx :)

[2019-08-20 14:18] Chris2011 opened #14 "Space still available after scaling"
As you can see it here in my image:

![image](https://user-images.githubusercontent.com/795658/63354825-6d0a1000-c365-11e9-8fcb-b45032c9baa9.png)

I use the medium flag. The problem is, that the space around is to high. It comes from the width/height 64px whily you scale it down to half of it. So it will show 32px but it will keep the original height/width. Just scaled down.

When I override the 6

[2019-08-20 14:18] Chris2011 commented on #14
So my case is, I need a differenz size (medium) but it should fit in the box w/o having the original size.

[2019-08-20 21:07] P3trur0 commented on #14
Hi Chris, currently the component comes with a single sprite and simple CSS math for scaling it according to the flag size.
Tomorrow I have free time and I'll spend it in figuring out this issue.
Obviously, if you have any idea, please come with either suggestions or a PR ☺️

[2019-08-21 15:03] P3trur0 commented on #14
@Chris2011 please check it out version 1.3.0 of the component. It fixes this issue by adapting also the vertical margins according to the selected size of the flag.
Thanks for spotting this.

[2019-08-21 15:03] #14 closed

[2019-08-21 15:05] P3trur0 commented on #13
@Chris2011 version 1.3.0 contains also the `.d.ts` files, so you can use the component also in TypeScript files.
Thanks for spotting the issue. 😄

[2019-08-21 15:05] #13 closed

[2019-08-21 15:35] Chris2011 commented on #14
Working perfect. Thx :)

[2019-08-21 15:35] Chris2011 commented on #13
Works w/o errors. Thx :)

[2019-09-03 13:35] mindaugasvcs opened #17 "Incorrect component tag in docs"

[2019-09-03 20:31] P3trur0 commented on #17
Hi @mindaugasvcs thank you for spotting the issue. Could you please mention the line you're referring to?
Thanks!

[2019-09-05 17:45] mindaugasvcs commented on #17
How to use
Register CountryFlag component in your app. You can use two approaches:

in main.js you can mount it as a global Vue component:
import Vue from 'vue'
import CountryFlag from 'vue-country-flag'

Vue.component('**vue-country-flag**', CountryFlag)
Should be country-flag, no big deal but stil I could not manage to use this in a global install context.

[2019-09-06 17:29] P3trur0 commented on #17
Thanks for highlighting that! Documentation fixed.

[2019-09-06 17:29] #17 closed

[2019-09-13 11:00] BobanStanojevicST opened #20 "Missing Flag"
Flag for Kosovo is currently missing

[2019-09-23 16:37] P3trur0 commented on #20
Hi @BobanStanojevicST thanks for pointing that! In these weeks I have not enough free time to spend on the issue.
I hope to have more time in October, apologize for this 😢

[2019-11-01 16:47] MatthewAry opened #21 "Flag sprite is Base64 Encoded causing a 30% increase in size"
Just thought you should know that Base64 encoding images should be avoided. See: https://stackoverflow.com/a/11402374/2719773

The production JS files seem to have the flag sprite embedded as a Base64 string. I think that this is not necessary. Modern server and HTTP protocols help minimize the impact of making multiple requests for resources. I think that it will have a better impact on overall b

[2019-11-02 07:51] P3trur0 commented on #21
Hi Matthew, thank you for pointing that. Indeed, in previous versions of the component the image was not Base64 encoded. Later, I encoded it because of an issue (see #11).
If your proposal is a way to reduce component size, please help me in doing that :relaxed:
Otherwise I'll try to improve it as soon as I can find some free time.

[2019-11-04 17:10] MatthewAry commented on #20
Other missing flags

- Ascension Island
- Caribbean Netherlands
- Cocos (Keeling) Islands
- Christmas Island
- French Guiana
- Guadeloupe
- British Indian Ocean Territory
- St. Pierre & Miquelon
- Réunion
- Svalbard & Jan Mayen
- Sint Maarten
- Tristan da Cunha
- Kosovo

I'm creating a system that essentially reproduces the phone number field design used in Google Contacts. I'm getting Country Dat

[2019-11-04 19:14] P3trur0 commented on #20
Thanks for adding more details to this issue! By the end of this month I'd be able to fix this!

[2020-03-06 08:02] luckylooke opened #23 "missing flags css after fresh install"
Hello!
Thank you for sharing package
but after installation by
[code]
I am getting error:
[code]
And I have double-checked there is no such folder as css in src in node_modules, I can see it here on github.. but probably problem is in package.json:
[code]
as you can see css is not included

I have used:
npm -v
6.13.4
for installation

I have tried yarn 1.15.2 .. but same result

Thanks :)

[2020-03-14 18:52] P3trur0 commented on #23
Hi @luckylooke thank you for appreciating this package and pointing out this error! I'll try to fix ASAP.
Alternatively, please feel free to fix it and open a PR :)

[2020-03-16 13:28] luckylooke commented on #23
I have changed my configuration and the problem disappeared, probably it uses now just code from /dist where those flags are inlined in bundle, so for me it is no more issue, but I am not sure what convenience is here. Whether src folder should be in package files or not.. if so, then corresponding css dependency is missing, if not, maybe you should remove "src/**/*.vue" from package.

:)

[2020-03-17 07:45] P3trur0 commented on #23
@luckylooke thanks! I'll give it a look 😸

[2020-04-11 19:52] P3trur0 commented on #23
@luckylooke sorry for being late. I've taken your suggestion of getting rid of `.vue` file in the final npm bundle. Thank you :)

[2020-04-11 19:52] #23 closed

[2020-04-11 19:53] P3trur0 commented on #20
@BobanStanojevicST @MatthewAry all the missing flags you mentioned have been added in **2.0.0**. Thanks for reporting that.

[2020-04-11 19:53] #20 closed

[2020-04-11 19:57] P3trur0 commented on #21
Despite a bigger size of the final package, at the moment I stay with a Base64 encoded sprite in the css. The main reason is to make this component independent from any bundling process.

[Here](https://github.com/webpack/webpack/issues/7353) it is an interesting discussion about that.

I leave this as an enhancement proposal though.

[2020-04-11 19:58] #10 closed

[2020-04-22 17:41] Ruchirr opened #26 "Flags invisible for Android chrome browser"
Tried both alpha 2 and alpha 3 ISSO 3166-1 it gives error. Secondly the flags are bit blurry for Firefox. Please let me know what are the supporting changes to be importantly for chrome android app. Thanks in advance.

[2020-04-22 18:44] P3trur0 commented on #26
Hi, thanks for trying this package! :smile_cat:
Which error do you get? Could you please be more specific?
Also, what do you mean with supporting changes for Chrome Android app? By installing it as Vue component it should properly work within Chrome.

[2020-04-22 19:55] Ruchirr commented on #26
Hi, thanks for a quick response and for creating this beautiful plugin. I am using Nuxt.js and the flags do appear in chrome browsers for Mac and Windows.

The only issue is when I open the web app on my Android phone's chrome app, flags disappears (The chrome app is updated to the latest version). However, the plugin works fine on Firefox.

Furthermore, it works well on all browser apps in iPhone

[2020-04-23 11:53] P3trur0 commented on #26
Hi @Ruchirr thanks for using it.

A possible problem might be that vue-country-flag uses a sprite Base64 encoded in the CSS itself. I am not familiar of the current behavior of Chrome, but currently that's the first idea coming to my mind.

However, I will investigate about the issue.

[2020-04-23 20:19] Ruchirr commented on #26
Hi @P3trur0 most welcome.

Alright, I will check that out. I tried loading .svg files in <img /> with a loop. They work well with all the browsers, just a head up to save time for debugging.

Sure thing.

[2020-04-27 14:17] AdrianLech opened #27 "adblock block andorra flag"
adblock (from https://getadblock.com/) blocks the andorra flag cause the class is f-ad. could you please change the andorra flag class?

[2020-04-27 18:00] P3trur0 commented on #27
Hi @AdrianLech, thanks for pointing this out!
I'll fix it ASAP :smiley_cat:

[2020-04-28 19:23] VizualAbstract opened #28 ".f isn't scoped to the componet"
Any element with the class of .f is being styled by the styles in this component.

In our application, our customers are allowed to create or provide supplemental HTML, and some customers use `'f'` as a class. This is causing many of their UIR elements to appear broken.

[2020-04-29 08:08] P3trur0 commented on #28
Hi @VizualAbstract, thanks for pointing out the issue. Would '.flag' be ok instead?

[2020-04-29 16:04] VizualAbstract commented on #28
I think so! @P3trur0

I know for my team, I always recommend we prefix our classes. Our company's initicals are rc, so I use `.rc_`, but that's just our preference. Either way, .flag would be a great upgrade

[2020-04-30 08:43] P3trur0 commented on #28
Cool! I think I'll some spare time to work on it tomorrow. Otherwise, if you are in a rush, please consider to do it by yourself and open a PR :)

[2020-05-01 07:31] P3trur0 commented on #28
Hi @VizualAbstract, please check out version 2.0.1. As suggested, the main CSS class of the component has been renamed to `flag`. Hope it helps to solve your issue.

[2020-05-01 07:31] #28 closed

[2020-05-01 07:32] P3trur0 commented on #27
@AdrianLech thanks for reporting the issue. It has been fixed with **v.2.0.1**.

[2020-05-01 07:32] #27 closed

[2020-05-01 07:33] P3trur0 commented on #26
Hi @Ruchirr, so far I am not able to replicate the issue. Do you have some snippet to share in order to help me in replicate it?

Thanks!

[2020-05-01 07:39] P3trur0 opened #30 "Reduce the footprint"
It could be cool to reduce the footprint of the component.
Possible approaches:

- avoid to bundle minified CSS in each built .js file
- find an alternative to Base64 sprite bundled in CSS (as pointed in #21)

[2020-05-01 12:39] r32rf opened #31 "Typings"
There are no typings in this package.  They aren't listed in package.json and the unused d.ts files are only declaring its existence without any further description of what the component properties are, or that there is a component in the first place.  Take a look at the excellent typings in bootstrap-vue.

[2020-05-02 09:39] Ruchirr commented on #26
Hi @P3trur0,

Yes I have one screen shot for the issue, The screen shot provides the application running state on Android Chrome App:

https://user-images.githubusercontent.com/30252229/80860331-4baa4380-8caa-11ea-9730-79e91e2e5eb5.png

Secondly, the code if you want to take a look..

https://github.com/Ruchirr/covid-and-news/blob/deploy-india-corona-data/components/cards.vue

Hope this helps.

[2020-05-03 07:29] P3trur0 commented on #26
Hi @Ruchirr,

I am trying to reproduce the problem and indeed, on an Android emulator, I don't see the flags of your application.
Alas, by doing a simple test with another small Vue application, I see the flags properly. Maybe you should investigate in your source code too, since by launching it on my machine I stumbled upon a series of Vue warnings in the DevTools console.

Please, keep me update

[2020-05-21 20:29] rubennaatje commented on #10
Just in case you wanted to know, this works for me in Nuxt. :)

[2020-05-21 20:48] rubennaatje opened #32 "Nuxt: Sizes not working"
Hi,
I can't get the sizes to work in Nuxt. I think I might be missing something?

@plugins/vue-flags.js
[code]
in my nuxt.config
[code]
and in a component I want to use it in,
[code]

Yet the size attribute doesn't do anything, it's always normal size which is too big for my use case.

I might be missing a step or it just doesn't work with Nuxt?

[2020-05-22 07:10] P3trur0 commented on #32
Hi @rubennaatje, thanks for pointing this out. Indeed your configuration seems ok. I will investigate. Just for proper troubleshooting, did you try also with older versions of vue-country-flag? I mean this one:

https://www.npmjs.com/package/vue-country-flag/v/1.3.1

[2020-05-24 14:05] apiret commented on #32
Hi,

Just for information, I just tried to use vue-country-flag 2.0.1 with nuxt 2.12.2 and I have no problem with the size.

@plugins/vue-flags.ts
[code]

in my nuxt.config
[code]

and in my page
[code]

![Screenshot 2020-05-24 at 15 53 53](https://user-images.githubusercontent.com/1142871/82755873-d62c2180-9dd6-11ea-863d-6afe80a46acb.png)

[2020-05-24 19:48] P3trur0 commented on #32
Hi @apiret thanks for sharing your experience here! @rubennaatje please try to check if is there any difference with your setup, in order to help me in better investigating on this.

[2020-05-29 22:14] VizualAbstract opened #34 "Andorra missing its 2-character country code"
It looks like in the recent update (thank you so much!) Andorra was missing its 2-digit country code.

This PR aims to restore that: https://github.com/P3trur0/vue-country-flag/pull/33

[2020-05-31 20:41] P3trur0 commented on #34
Hi @VizualAbstract thanks for proposing this change. Actually because of #27 I had to do a workaround for Andorra flag.
As you may notice [here](https://github.com/P3trur0/vue-country-flag/blob/8ea7880a8089f07f931b19e8d5b09f97b8c33136/src/CountryFlag.vue#L37) you can still use `ad` when declaring the flag, but on component side it is translated to `f-andorra` CSS class.

[2020-05-31 20:44] P3trur0 commented on #34
However I leave your proposal still opened here because instead of restoring "f-ad" it could be better of get rid of "f-andorra" CSS class leaving only "f-and" instead.
So, referring to [this](https://github.com/P3trur0/vue-country-flag/blob/8ea7880a8089f07f931b19e8d5b09f97b8c33136/src/CountryFlag.vue#L37), it could become:

[code]
would you mind to align your PR with this improvement?

Doing so c

[2020-06-13 14:01] rubennaatje commented on #32
My bad I've been very busy, so i'll check again. code does seem to be the same as apiret though.

Difference might be that I run it in an electron app. But i'll test again asap.

[2020-09-16 18:51] yiyasha15 commented on #32
im not able to pass object.data in the country field..

[2020-09-18 07:18] P3trur0 commented on #32
hi @yiyasha15, do you have a concrete example?

[2020-09-18 13:28] yiyasha15 opened #36 "I have country name from an API, how can I bind it to country attribute?"

[2020-09-18 13:32] yiyasha15 commented on #36
I created a data method which returns value of the country,
[code]
In my template I have
`<country-flag country= flag />`

But the flag image is not showing.

[2020-09-20 09:11] P3trur0 commented on #36
Hi @yiyasha15,

I'd expect you pass the reactive attribute like this:

`<country-flag :country="country.flag"/>`

where `country.flag` is the dynamic value received from an API. You can see an example in action [here](https://github.com/P3trur0/vue-country-flag/blob/gh-pages/index.html#L98).
This renders the [following output](https://flatmap.it/vue-country-flag/).

Let me know if this solves your

[2020-09-24 07:11] yiyasha15 commented on #36
Hi @P3trur0 ,
Thanks alot it worked! 😺

[2020-09-24 07:15] #36 closed

[2020-10-30 07:39] kokhlo commented on #26
Hello everyone,

I have a same issue not only in Android Chrome browser, but as well in case of building my project as Apache Cordova mobile application. All flags I used in are invisible. Could you help me, please with it?

[2020-11-01 16:16] P3trur0 commented on #26
Hello @kokhlo thanks for mentioning this. I am not very familiar with Apache Cordova, so I cannot repeat your scenario easily in order to troubleshot this. Could please help me in setting up a testing scenario to try to address the issue?

[2020-11-03 11:34] kokhlo commented on #26
@P3trur0, yes, thanks for your answer. I'll create a repository with testing environment for this purpose later and share link with your with some other details. This issue is quite important for me at the moment.

[2020-11-03 11:38] P3trur0 commented on #26
@kokhlo yes please :) I'll be glad to help in fixing it.

[2020-11-09 07:53] kokhlo commented on #26
Hello @P3trur0,

repository has been created: https://github.com/kokhlo/VueFlagsTestRepo.git
Now you can fork it and get an example of Vue project and android application in one. Ping me if you need clarification or something else. Thanks in advance! :)

[2020-11-09 08:13] P3trur0 commented on #26
@kokhlo thank you! I'll give it a look tonight. Do you see the error even on emulator, right? Indeed I have not a physical android device to test it directly.

[2020-11-09 08:47] kokhlo commented on #26
I see this issue permanently , as on the physical device as in emulator.

[2020-11-09 09:13] P3trur0 commented on #26
Do you see the issue also while launching the test app with `quasar dev` and browsing it through a desktop Chrome browser?

So far I was able to try both `quasar dev` and `quasar build` and I see the flags.

I still need more time to try it on Android emulators.

[2020-11-09 22:03] P3trur0 commented on #26
@kokhlo I was able to reproduce the problem, now thanks to your useful sample project I'll be able to investigate it further. I'll keep you updated about my findings.

[2020-11-10 10:06] P3trur0 commented on #21
Duplicated, see #30.

[2020-11-10 10:06] #21 closed

[2020-11-10 10:12] P3trur0 commented on #26
@kokhlo which Android version are you using? In my emulator **Pixel_3a_API_30** the flags appear.

[2020-11-11 10:01] kokhlo commented on #26
Oh Gosh, @P3trur0, thanks for your help. I'll try it a bit later but I'm confident it should work!

I will definitely write later about the results.

[2020-12-07 05:19] Failip420 opened #38 "How to use in vue 3?"
i cannot get it to work using docs with vue 3

[2020-12-07 15:40] P3trur0 commented on #38
Hi @Failip420, thanks for pointing this out. Indeed the component is not working on Vue 3 yet. It's complaining because of the following:

[code]
If you wish to fix this issue, please go ahead 💯

[2020-12-07 15:41] P3trur0 opened #39 "Make the component Vue 3 compatible"
As reported in #38, **vue-country-flag** does not work with Vue 3.

[2020-12-09 13:31] Qeenon opened #40 "USSR flag request ☭"
Hello.

Before USSR destruction people of USSR voted to save USSR, but leaders of UA Kravchuk, BLR Shuskevich and Russia Eltsin dissolved USSR in 1991.

Current Russian flag has controversial associations for many people, specially since WW2.
It is highly important for dozens of Russians to use USSR flag.

https://en.wikipedia.org/wiki/Flag_of_the_Soviet_Union

Thank you for understanding.

[2020-12-22 14:26] P3trur0 commented on #40
Hi, thanks for mentioning this. I will evaluate the introduction of this flag as well. Do you have idea of the letters to identify the flag (e.g.: `su`)?

[2020-12-23 05:40] Qeenon commented on #40
@P3trur0 maybe `ussr` if that's not too long for identify

[2020-12-23 08:35] Qeenon commented on #40
@P3trur0 also: https://www.iso.org/obp/ui/#iso:code:3166:SU

[2020-12-23 09:56] P3trur0 commented on #40
Yes, I'll go with `su` and `sun` since in the page you're linking above they are the official ISO alpha2 and alpha3 codes.

[2020-12-23 10:45] P3trur0 commented on #40
https://www.npmjs.com/package/vue-country-flag/v/2.0.3 solves it.
Thanks for reporting the issue.

[2020-12-23 10:45] #40 closed

[2020-12-23 11:26] Qeenon commented on #40
Thank you

[2021-01-17 19:03] P3trur0 commented on #39
Done, please check https://www.npmjs.com/package/vue-country-flag-next
@pazarbasifatih
@JoJk0

[2021-01-17 19:03] #39 closed

[2021-01-17 19:06] P3trur0 commented on #38
Hi @Failip420, sorry for the delay. Please check the new package https://www.npmjs.com/package/vue-country-flag-next.
It has been created for Vue3.

[2021-01-17 19:06] #38 closed

[2021-01-23 11:38] alfienguyen commented on #26
@P3trur0  @kokhlo  Do you have any update re. this issue? I’m facing the same problem with my app (using Vuetify framework FYI)

[2021-01-25 11:24] P3trur0 commented on #26
@alfienguyen I was trying to understand why the bundled version of the component did not work on Android, but so far my investigations stopped at the Base64 encoded image in the .js.

It seems that Android view does not render it properly. At the end of this week I might release a component version with a bundle generated from a later version of the Rollup plugin I am using for bundling the compon

[2021-01-26 05:41] alfienguyen commented on #26
@P3trur0  FYI this library works fine on Android browser https://github.com/Yummygum/vue-flagpack
Hope this gives you some clues to fix the issue

[2021-01-26 08:49] P3trur0 commented on #26
Thanks @alfienguyen I had a look at that component as well. It seems is using another component as a dependency, where the flags are rendered via SVG files.
`vue-country-flag` instead is a zero dependency component, that bundles the flags as PNG image base64 encoded. It seems that the issue is because of some problems in rendering this encoded image.

[2021-02-03 05:45] yingjun opened #44 "could we add label prop?"
Hi thanks for this handy package.
is it possible add label prop so that user can customize the display label? current it is display country code, if we need display something else there is no way do it. thanks for considering.

[2021-02-06 09:42] P3trur0 commented on #44
Thank you for the suggestion, it might be interesting. Where do you expect the label? Probably it could be better to have it at the bottom of the flag. What do you think?

[2021-02-19 00:24] JamesAngier opened #45 "Invalid prop: custom validator check failed for prop "country"."
`<country-flag :country="item.value" size="small"/>`

I have tried item.value in Alpha3 and Alpha 2 with the same issues
e.g.
`item.value = 'AU'`
`item.value = 'AUS'`

However it works without being binded to item

`<country-flag country="AU" size="small"/>`

[2021-03-31 09:40] picks44 opened #48 "This dependency was not found (vue3 + vue-country-flag-next)"
Hello,

I've added the dependency **vue-country-flag-next** using **yarn** in my project, and followed the doc to register the component, but I get the following error
[code]
Here is how I registered it
[code]

[2021-03-31 10:25] P3trur0 commented on #48
Hi @picks44,

did you add the component, right?

I mean:

`yard add vue-country-flag-next`

[2021-03-31 10:46] picks44 commented on #48
Yes I did...

[2021-04-06 18:28] kiwina commented on #48
Can confirm for some reason the ide doesn't find the package

[2021-04-08 17:18] P3trur0 commented on #48
Thanks for spotting this!

I am investigating how to fix the issue. Meanwhile you can use the following workaround:

[code]

should temporarily fix the problem.

[2021-04-08 18:04] P3trur0 commented on #48
Please update to the latest 2.0.4 version that fixes the issue.
Thanks for trying this component on Vue3 😄
@picks44 @kiwina

[2021-04-08 18:04] #48 closed

[2021-04-19 01:37] JamesAngier commented on #45
@P3trur0 Are you able to replicate this?

[2021-04-24 07:53] P3trur0 commented on #45
Hello @JamesAngier, do you mean something like this?

[code]

If so, it's not complaining on my Chromium installation. Could you please provide more information about your current configuration?

[2021-04-27 01:23] JamesAngier commented on #45
Hey @P3trur0, here is my component.
The flag shows correctly, i just get the Vue warning in the console.

An example of what countriesFormatted is returning is the following:
`{value: "NZ", text: "New Zealand"}`
`{value: "AU", text: "Australia"}`

And the error in the chrome console is the following:
`[Vue warn]: Invalid prop: custom validator check failed for prop "country".`

My guess is that it

[2021-04-28 07:53] florian-lefebvre commented on #26
Hi, I also encounter this issue (https://special-characters-frontend.vercel.app/) @P3trur0.

[2021-05-01 17:59] P3trur0 commented on #26
Hello, thanks for reporting this.
Latest v.2.1.0 fixes the issue. Please, let me know if you face any other problem in using the component on Android.

[2021-05-01 17:59] #26 closed

[2021-05-01 18:00] P3trur0 commented on #30
footprint reduced from v2.1.0.

[2021-05-01 18:00] #30 closed

[2021-05-01 19:38] florian-lefebvre opened #57 "Invalid or unexpected token"
"vue-country-flag": "^2.1.0"
"nuxt": "^2.15.4"

I get an error: `Invalid or unexpected token`. It was working with `^2.0.4`. The error occurs because of the SSR.

[2021-05-01 19:48] P3trur0 commented on #57
Do you have any snippet to share in order to reproduce the issue?

[2021-05-02 09:33] #57 closed

[2021-05-02 09:34] P3trur0 commented on #57
@florian-lefebvre thanks for spotting this. Latest v2.1.1 solves the problem.

[2021-05-02 10:58] P3trur0 commented on #32
see #58.

[2021-05-02 10:58] #32 closed

[2021-05-02 15:56] florian-lefebvre commented on #57
It works now, thanks !

[2021-05-17 07:00] florian-lefebvre commented on #26
Hi @P3trur0 it still seems broken. It looks like it keeps the width and height of the flag (before there was just nothing) but it's still not showing.

You can see it at the top right:
![image](https://user-images.githubusercontent.com/69633530/118445040-37d35300-b6ee-11eb-8e78-21fb6cc1f006.png)

[2021-05-17 07:55] P3trur0 commented on #26
Hi @florian-lefebvre do you have any snippet that could I use to reproduce the issue?

[2021-05-19 12:42] florian-lefebvre commented on #26
package.json
[code]
nuxt.config.js
[code]
plugins/vue-country-flag.js
[code]
pages/index.vue
[code]
I think it should be enough @P3trur0

[2021-05-19 12:46] P3trur0 commented on #26
sure, I'll give a shot during this weekend. Thanks for reporting this.

[2021-05-22 01:26] nekooee opened #64 "background-image: url("[object Module]");"
Hi
flag image not loaded and show this code in HTML:
background-image: url("[object Module]");

please help me

![image](https://user-images.githubusercontent.com/6003803/119210620-72f4ce00-bac2-11eb-9d0a-181c7b324172.png)

I use laravel 8 and vue 2.5.17

[2021-05-22 07:42] P3trur0 commented on #64
Hello, could you please provide a snippet of your component?

[2021-05-22 20:21] nekooee commented on #64
thank you
The same code in my system displays the flag correctly. But after upload on the server, it displays an error!
main.js:
[code]
myPage.blade.php
[code]

[2021-05-24 13:47] nekooee commented on #64
@P3trur0 Did you see my message?

[2021-05-24 14:01] P3trur0 commented on #64
Hello @nekooee, sorry, but so far I had no time to investigate the issue. Probably I'll do that in the next days.
Meanwhile, as possible workaround, you could install previous 2.0.4 version, where the usage of the background was different from the current one.

Please, install the component like this:

`npm install vue-country-flag@2.0.4`

Besides the above mentioned different backround usage, the

[2021-05-24 17:16] P3trur0 commented on #26
Hello @florian-lefebvre, I am trying to reproduce the issue, but with no luck so far.
I built a local Nuxt app launched as:

`npm run build && npm run start`

![immagine](https://user-images.githubusercontent.com/11474157/119383275-6a1f1a80-bcc3-11eb-847e-7010890d4ecf.png)

It renders flag properly both on desktop and mobile Brave (or any Chromium based) browser on Android. Like this:

![immagine]

[2021-05-24 17:22] florian-lefebvre commented on #26
Hi! I just tried in Brave and Duckduckgo on my Samsung Galaxy A10 and flags don't show so I guess it's related with my phone model... I don't know how I can use dev tools on mobile.

[2021-05-24 17:22] P3trur0 commented on #64
Hello @nekooee, it may be because of the following: https://github.com/vuejs/vue-loader/issues/1612

Do you have any chance to do a check with latest **vue-country-flag** version and the solution discussed in the mentioned issue, please?

Alternatively, as I mentioned in my comment above, you'd be fine with `npm install vue-country-flag@2.0.4` as well.

[2021-05-24 17:24] florian-lefebvre commented on #26
I just saw [that](https://stackoverflow.com/questions/37256331/is-it-possible-to-open-developer-tools-console-in-chrome-on-android-phone), I gonna try it.

[2021-05-24 17:24] P3trur0 commented on #26
Actually even on my Xiaomi I see the problem browsing to your website, instead the Nuxt app I built from scratch following your skeleton example works without problems...

About remote debugging, please, check this out:

https://developer.chrome.com/docs/devtools/remote-debugging

[2021-05-24 17:31] florian-lefebvre commented on #26
That's an awesome tool ! I get
![image](https://user-images.githubusercontent.com/69633530/119385598-9e480a80-bcc6-11eb-97fc-0663e9cb339b.png)

[2021-05-24 17:31] florian-lefebvre commented on #26
Never mind the same happens on pc

[2021-05-24 17:37] P3trur0 commented on #26
Yup, it could be the issue. It seems that your hosting is not getting the proper URL for the flags. It seems strange though, since I see the CSS referring to the following:

https://special-characters.vercel.app/_nuxt/img/flags.b698908.png and it does exist.

Maybe, as a possible workaround, you could manually upload the flags file in the expected location (i.e.: your dist folder).

[2021-05-24 17:57] P3trur0 commented on #26
Hello @florian-lefebvre, I've just created an example here:

https://nuxtjs-p3trur0.vercel.app/

And I see the image both on desktop and Android.

You can find the example here:

https://github.com/P3trur0/nuxtjs-demo

[2021-05-24 18:09] florian-lefebvre commented on #26
Thx! It also works for me, I'll check your repo to see what I'm doing wrong

[2021-05-24 18:11] florian-lefebvre commented on #26
Actually there is a huge difference between your repo and mine: I'm using SSR and you're not (`mode: spa` in nuxt.config.js).

[2021-05-24 18:13] florian-lefebvre commented on #26
I don't how you have setup your project but you need to add https://github.com/nuxt/vercel-builder by adding a `vercel.json` file:
[code]

[2021-05-24 18:25] nekooee commented on #64
thank you. I tested and vue-country-flag@2.0.4 Works well.
I have already seen the link you introduced. It says disable esModule. But this may cause problems for my other code.
On the other hand, I use the Laravel mix in which the webpack settings are slightly different. And I do not know exactly how to disable the esModule.

[2021-05-24 18:58] P3trur0 commented on #26
When you write:

Do you think that this may be the possible cause of the issue? I simply deployed a demo application and independently of this script all the expected resources of my dist folder have been properly updated and pushed on Vercel hosting.

---

Also, about your statement here:

so far I had no chance to see your actual code, so I am just trying a small example built as you mentioned [

[2021-05-24 19:07] florian-lefebvre commented on #26
I will provide a sample repo instead a small snippet and I'll also try to execute my app on my phone

[2021-05-25 15:06] P3trur0 commented on #64
@nekooee thanks for reporting this!

[2021-06-02 12:37] existe-deja opened #69 "vue-country-flag/dist/flags.png 404 not found"
**Stack**
- nuxt v2.15.6
- vue-country-flag v2.1.1

**reproduction link**
Just a simple `yarn create nuxt-app` with `vue-country-flag` dependency.
- pull https://github.com/existe-deja/test-vue-country-flag
- yarn install
- yarn dev

**Problem**
When I use the `country-flag` component I get a 404 for http://localhost:3000/vue-country-flag/dist/flags.png on initial render (SSR).
Is it possible to g

[2021-06-04 10:52] P3trur0 commented on #69
Thanks for reporting this.
At the moment, to make the .ssr.js file of **vue-country-flag** working for client side rendering as well, it needs to reference a relative path for the flags image sprite. Alas, this won't work out of the box with the SSR.
I will investigate further if it is possible to have it working properly in the future.

Here I list other two possible workarounds:

**Workaround 1*

[2021-06-04 10:58] P3trur0 commented on #26
hello @florian-lefebvre, I was able to reproduce the problem since another user mentioned that.

Here I come with a possible workaround:

https://github.com/P3trur0/vue-country-flag/issues/69#issuecomment-854613745

In your case I'd advocate for the adoption of the first alternative. Please, let me know if this solves your issue.

[2021-06-04 13:02] florian-lefebvre commented on #26
Hi @P3trur0, thanks I'll try that and keep you informed.

[2021-06-07 11:27] micm0 opened #72 "Support typscript in vue-country-flag-next"
I'm using the next library in a Vue 3 project with Typescript. When I import the library with `import CountryFlag from 'vue-country-flag-next';`  I get this error `Cannot find module 'vue-country-flag-next' or its corresponding type declarations.`

I created a new file  `vue-country-flag-next.d.ts`  in my project with `declare module 'vue-country-flag-next';` as a workaround but It could be nice t

[2021-06-10 18:06] davidjsilva opened #73 "White Flags on White Background"
Flags that have white backgrounds such as Japan, Monaco, Madagascar
![white background flags](https://user-images.githubusercontent.com/1336983/121573945-64c40e80-c9eb-11eb-88e2-8a9ad4827cec.PNG)
 (and many others) do not look like flags when displayed on white backgrounds.  We wanted to add some slight elevation to the flags by adding a box shadow.  However, upon looking closely at flags.png, not

[2021-06-15 13:39] existe-deja commented on #69
Hi, thanks for your ideas.

The workaround 1 is not a good solution because the library fetch `flags.png` with a relative path. So it works well for the home page but not for nested ones.

I will downgrade the version of the package for now. Also, it's working, it's just I always have an error in the console.

[2021-06-22 08:49] alfienguyen opened #74 "Rounded property no longer works in latest version (v.2.1.1)"
Might be related to the fix for #26 Now the rounded property seems to have no effect.

[2021-07-07 18:10] alex-milyutin opened #75 "does not work in SSR"
Tried in quasar SSR app component. Triggers error at click/show component CountryFlag.

runtime-dom.esm-bundler.js?8886:34 Uncaught (in promise) TypeError: Cannot read property 'parentNode' of null
    at parentNode (runtime-dom.esm-bundler.js?8886:34)
    at componentEffect (runtime-core.esm-bundler.js?9e79:5276)
    at Object.reactiveEffect [as update] (reactivity.esm-bundler.js?0a2b:42)
    at

[2021-07-08 15:10] davidjsilva commented on #73
@P3trur0 just wanted to follow up on this.  Any progress?

[2021-07-08 15:40] P3trur0 commented on #73
hello @davidjsilva sorry for being late on this, but these months are harsh for me. 😢
I'll try to find some spare time to fix this by the end of July.

[2021-07-10 12:28] SidneySaints commented on #64
@P3trur0 this issue also exists in vue-country-flag-next used together with laravel-mix

[2021-07-12 21:21] P3trur0 commented on #73
@davidjsilva I released an updated version of the component. It now supports a shadow property adding a box shadow around the flags.

Also, all the left and right whitespaces around the flags have been removed. All the flags now have the same width.

Please, keep me updated if this improvement is suitable for your needs.

Thank you for opening this!

[2021-07-12 21:22] P3trur0 commented on #74
Thanks for opening this, I'll take a look!

[2021-07-12 21:25] P3trur0 commented on #75
Hi @alex-milyutin, thanks for reporting this. Probably downgrading to v.2.0.4 should fix your issue. Could you please keep me updated if this downgrade solves it?

Indeed, I am investigating in restoring that 2.0.4 older behavior with a CSS property containing the flags.png sprite encoded as a Base64 uri.

[2021-07-13 20:20] davidjsilva commented on #73
Looks great thank you!  I do think the shadow can be "softer" though.   I really like how VuetifyJS does it.  They have css helpers called Elevation

https://vuetifyjs.com/en/styles/elevation/

They use Alpha's in the rgba to soften the shadow and use different values on each side:

box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !

[2021-07-16 17:50] P3trur0 commented on #73
@davidjsilva glad it helped. Actually you're right about the better style of your proposal. Alas, at the moment I have not enough time to spend on this. Would you like to open a PR about it, please?

[2021-08-11 13:18] ricardo17coelho opened #79 "Add CSP support"
Remove inline styles (styleInject) to support CSP (Content Security Policy).

Error:
![image](https://user-images.githubusercontent.com/37732431/129035651-62fef2cc-a553-4f2e-bfbe-c0dd3d7acd5a.png)

[2021-08-11 13:36] P3trur0 commented on #79
Hi @ricardo17coelho, thanks for reporting this! It's in my spare time backlog :)

[2021-09-04 11:25] BeneRichi commented on #48
dependency is stil not found when i install it with yarn.

import CountryFlag from 'vue-country-flag'

great work anyway. Thank you so much for that.

[2021-09-05 15:38] P3trur0 commented on #48
Hello @BeneRichi, thanks! Are you using vue2 or vue3 version?

[2021-09-05 16:20] BeneRichi commented on #48
Vue 3

Von meinem iPhone gesendet

[2021-09-06 09:56] P3trur0 commented on #48
For Vue3 it'd be:

[code]

did you try it as well?

[2021-09-06 10:25] BeneRichi commented on #48
Yes sure. It’s in your documentation :) I tried that.

He is also not finding the image source flag.png

Von meinem iPhone gesendet

[2021-09-06 10:29] P3trur0 commented on #48
Are you using SSR?

[2021-09-06 10:30] BeneRichi commented on #48
Im using it but it’s deactivated at the moment.

So should not be a problem.

Von meinem iPhone gesendet

[2021-09-06 10:34] P3trur0 commented on #48
Mmm... I think there are some issues with SSR and those are still open. I hope to fix them in the near future. Alas, at the moment I have not enough spare time to provide a prompt workaround for your issue.
However, probably this could help:

https://github.com/P3trur0/vue-country-flag/issues/69#issuecomment-854613745

[2021-09-06 10:51] BeneRichi commented on #48
Thx :)

No problem. I will try again when there is a new version.

But no stress..

Thanks 🙏

Von meinem iPhone gesendet

[2021-09-13 17:09] SergioAraya opened #83 "Suport for contry code Ex: cr = 506"

[2021-09-14 07:22] P3trur0 commented on #83
thanks @SergioAraya is CR Costa Rica, right?
Thanks for opening this! 🇨🇷

[2021-09-14 13:56] SergioAraya commented on #83
yes, it is

El mar, 14 sept 2021 a las 1:23, Ubaldo Pescatore ***@***.***>)
escribió:

[2021-09-14 14:14] P3trur0 commented on #83
Thanks. Actually I see that flag-cr is already supported by the component. Do you have any problem in rendering? I'd expect `flag-cr` or `flag-cri`.

[2021-09-14 14:23] SergioAraya commented on #83
a problem, not. The thing is that I have a database with many countries
that does not have the alpha_2 and alpha_3, just the country code: 1 ,2,
506... and so on, but I did a management view to solve the problem.

El mar, 14 sept 2021 a las 8:14, Ubaldo Pescatore ***@***.***>)
escribió:

[2021-09-14 14:51] SergioAraya commented on #83
The issue could be closed. And advice could be add support for country code
like 506, 550, 1... if possible.

thanks.

El mar, 14 sept 2021 a las 8:26, Ubaldo Pescatore ***@***.***>)
escribió:

[2021-09-14 16:15] #83 closed

[2021-09-23 21:30] nazevedo3 opened #85 "Issues in Vue 3"
I'm getting the following error in Vue 3:

`Uncaught (in promise) Error: Dynamic require of "node_modules/vue-country-flag-next/dist/flags.png" is not supported`

I tried importing directly in the Component and globally.

[code]

[2021-11-08 08:11] petegriffith commented on #85
I was having a similar issue, although I think it had to do with Vite, not Vue 3 (couldn't get the same problem when I simply created a new Vue 3 project and tried to replicate).

In any case, the solution offered in issue #75 of downgrading to 2.0.4 seems to work for now.

[2021-11-08 08:26] P3trur0 commented on #85
Hello @petegriffith thanks for reporting this again. I am suspecting that having a separate file for flags creates this issue. Because of that, the next version of the component will restore the same behavior of 2.0.4 (i.e.: the flags will be a base64 encoded url).

This means that the component footprint will be higher, but the benefit of that will be a real SFC that you can import seamlessly in

[2021-11-19 17:13] itapingu commented on #72
When you think this will be added? Causing some pain when testing stuff that require your component inside jest :) will be really appreciate if you add the declaration.

[2021-11-20 01:47] lephro commented on #64
Issue still exists. Latest versions are quite unuseable without a fix. Would be cool if this issue could be fixed at some point.

[2021-11-20 11:51] nekooee commented on #64
Unfortunately, because the size of the maps has changed in the last version and it has extra margins and in addition, they are square instead of rectangular, I think it is better to use the old version as before.
The only drawback in the old version, which is also present in the new version, is the map format instead of webp or other new formats in png format, which I had to edit myself.

[2021-11-22 17:19] #72 closed

[2021-11-22 17:20] P3trur0 commented on #85
In order to make the component working properly as a SFC with SSR also, I restored the original 2.0.4 behavior in the latest version, namely 2.3.1.

Please, have a look!

[2021-11-22 17:20] #85 closed

[2021-11-22 17:20] P3trur0 commented on #79
This should be resolved by latest 2.3.1. Thanks for reporting the issue!

[2021-11-22 17:20] #79 closed

[2021-11-22 17:20] P3trur0 commented on #75
In order to make the component working properly as a SFC with SSR also, I restored the original 2.0.4 behavior in the latest version, namely 2.3.1.

Please, have a look!

[2021-11-22 17:20] #75 closed

[2021-11-22 17:21] P3trur0 commented on #74
2.3.1 fixes the issue.

[2021-11-22 17:21] #74 closed

[2021-11-22 17:21] P3trur0 commented on #69
2.3.1 fixes the issue, thanks for reporting this!

[2021-11-22 17:21] #69 closed

[2021-11-22 17:23] P3trur0 commented on #64
Thanks for reporting this. Eventually I picked the decision to restore the same behavior of older 2.0.4, namely by embedding the flags sprite in a Base64 encoded url.

Latest 2.3.1 restores the behavior.

Please, if you have any idea to make this component better I am definitely open to discussion 😄

[2021-11-22 17:23] #64 closed

[2021-11-22 17:25] P3trur0 commented on #73
@davidjsilva eventually I had a chance to work on this codebase again, so I introduced the box shadowing following your suggestion. Please, have a look to latest 2.3.1 😄

[2021-11-22 17:25] #73 closed

[2021-11-23 01:28] petegriffith commented on #85
Works great, thanks!

[2021-11-23 01:45] petegriffith opened #92 "get rid of hidden margin?"
Right now the sprites seem to have some sort of hidden margin, possibly described in issue #14

I would like the flag sprite to have no margin at all, and to be exactly as big as the sprite itself, so that I can avoid issues like this:

![image](https://user-images.githubusercontent.com/72716356/142959655-d2e45bc0-9606-412e-9f59-09d4dd9fdd95.png)

Where there is a huge hidden margin (padding?) tha

[2021-11-23 07:34] P3trur0 commented on #92
Thanks for opening this! Probably in my last commit I unadvertedly pushed something wrong.
I'll investigate today :wink:

[2021-11-23 09:56] #92 closed

[2021-11-23 09:57] P3trur0 commented on #92
@petegriffith after some investigation I came with a solution that you can find in version 2.3.2.

[2022-01-24 16:53] DimLeon opened #97 "Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '_c')"
I installed latest version (2.3.2).
My vue js version is 3.2.26.

Following the docs, after importing & registering in specific component, I use e.g. the following:
`<country-flag country='fr' size='small'/>`
The error I get is
[code]
I get the error from line 231 in country-flag.esm.js
Any ideas?

[2022-01-24 18:37] DimLeon commented on #97
For some reason the error gone after removing and reinstalling the package as dev dependency.
Doesn't really make sense. Anyway, it is working great now

[2022-01-24 18:37] #97 closed

[2022-03-06 17:18] Miezhiko opened #109 "white blue white flag"
https://twitter.com/wbwflag

https://whitebluewhite.info/en

This is the new symbol of Russia that spontaneously emerged in the Russian emigrant community. It is meant to either replace the current flag abroad or to be used as a symbol of the peace movement.

[2022-04-10 18:57] zdarin opened #114 "Not working with Vue 3?"
Hi today tried with Vue 3 but seems not working or i something do wrong?

i added to my component

`import CountryFlag from 'vue-country-flag'`

and used like this

`<country-flag country="us" />`

and blank page i have

[2022-04-12 18:40] AngryUkraineKid opened #115 "Belarussian flag"
My greetings to the support team!

I'm writing to you for the Republic of Belarus. As you could possibly know, dictator Lukashenko had falsified a presidential election on 9 August 2020 once again. He had usurped the power and jailed or forced to leave the country those considered to be his political opponents. The election's results had been denied by all of the EU members and all of them have su

[2022-05-03 09:00] hktalent opened #118 "[bug]vue2,can not work"
<el-table-column label="C"  width="110px"><country-flag :country='ipInfo.countryCode' size='small'></country-flag></el-table-column>

[2022-05-03 09:03] P3trur0 commented on #118
Hello, could you please provide more details on the issue you're facing?

[2022-07-11 08:21] Instinctlol opened #123 "Flag for Arab League"
Could you add an extra flag for the [Arab League](https://en.wikipedia.org/wiki/Arab_League)?

[2022-08-03 15:46] nekooee opened #126 "flags do not display in the android browser with the 2.3.2 version and vue3"
Hi,
I used the latest version (2.3.2) of vue-country-flag, unfortunately, does not display any flags in the android browser but no problem on the desktop.
you can see the problem top of this page:
https://flashdump.ir/en

please help me

[2022-08-03 16:28] nekooee commented on #126
Now I found, that when I add background color, the problem solve! for example, I added `background-color: white` and I saw the flag was displayed.

[2022-08-04 07:10] P3trur0 commented on #126
Hello @nekooee, thanks for reporting this. Alas, this issue was already mentioned and I was not able to fix it properly because it seems that base64 encoded flag sprite does not works properly on Android. See [here](https://github.com/P3trur0/vue-country-flag/issues/26) for further details.

Unluckly currently I have not enough spare time to investigate on it again 😿

[2022-08-04 07:11] P3trur0 commented on #126
About this, wow, nice catch! I don't know why either, but it seems a good workaround. Does it work also with a transparent background? I am happy you're able to manage it with a working trick, thanks for mentioning it.

[2022-08-06 15:28] nekooee commented on #126
If you make it transparent, the flag will not be displayed. But there is no need to do this. Because the background color is under the flag and cannot be seen at all.

[2022-08-31 00:06] bouachalazhar opened #127 "Problem for use it in vue3"
![Screenshot 2022-08-31 at 02 03 54](https://user-images.githubusercontent.com/78004884/187564554-34ae9a28-4847-4a56-b21b-0080f07d1afb.png)
why I have this ?

[2022-08-31 00:16] #127 closed

[2022-09-16 06:03] Pfahlf commented on #97
Just for information, I have the same error.

[2022-11-28 09:21] nativeB opened #131 "vue-country-flag-next relies on imports from"
for vue-country-flag-next, seems there are still some imports relying on vue-country-flag

Error: ENOENT: no such file or diru/Documents/apps//node_modules/vue-country-flag.esm.js'
    at Object.openSync (node:fs:59
    at Object.readFileSync (node:f

[2022-11-30 21:10] radimhornicek commented on #26
Maybe it will help someone: for me the problem was that I applied a css class to the flag component, where I had a 1px border set on...